*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    background-color: darkorange;
    display: flex;
    height: 70px;
}
.covidimg{
  position: relative;
  max-width: 1300px;
}
.navbar{
    display: flex;
    width: 100%;
}
.logo{
    width: 90px;
}
.mainlist{
    width: 90%;

}
ul.lista{
    display: flex;
    list-style: none;
    padding-top: 25px;
    justify-content: space-evenly;   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px; 
}

div ul li a{
    text-decoration: none;
    color: white;
    height: 30px;
}
.main{
    box-sizing: border-box;
}
/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 20px 10px;
    margin-left: 60px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {
      margin: 0 -5px;
      }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  iframe{
      width: 100%;
  }
  .imgnews{
      width: 100%;
  }
  a.linknews{
      text-decoration: none;
      color: rgb(10, 10, 10);
  }
 h4{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 4px 0;
 }
 h1{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 50px;
  }
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px 20;
    text-align: center;
    background-color: #f1f1f1;
  }
  .button {
    border-radius: 4px;
    background-color: yellowgreen;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .sessaodois{
      margin-top: 50px;
  }
  .dot {
    height: 155px;
    width: 155px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-bottom:20px;
  }
  #aboutme{
    margin-bottom: 40px;
  }
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  #subject{
    height: 200px;
  }
  .contacttitle{
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: center;
  }
  .aboutCB{
      margin-top: 40px;
  }
  h3{
      margin: 20px 0;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 20px;
  }